/*=============== FOOTER ===============*/

.footer {
	margin-top: auto;
}

.footer {
    margin-top: auto;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .page-footer>.wrapper>* {
    width: 33.33%;
} */

.copy {
    padding-left: 10px;
    font-size: 12px;
    color: #888888;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.socials a {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}